<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EM.Properties.Settings.em_prog_2002ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=M:\em_prog_2002.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>